<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body ng-app="App">
    <div class="container" ng-controller="MainController as controller">

        <div class="text-center" ng-repeat="linha in controller.temp track by $index">
            <div>{{ linha }}</div>
        </div>

        <form ng-submit="controller.temp.push(linha); linha = ''">
            <input class="center-block" type="text" ng-model="linha">
            <div>
                <button class="btn btn-danger center-block" type="submit">add</button>
            </div>
        </form>

        <button class="btn btn-info center-block" ng-click="controller.solve()">Solve</button>

        <div class="text-center" ng-repeat="linha in controller.getMatrix() track by $index" ng-bind="controller.formatarLinha(linha)"></div>

        <h2 class="text-center" ng-if="controller.isDone">Solução:</h2>

        <div class="row container">
            <div class="text-center" ng-repeat="linha in controller.getSolucao()" ng-bind="linha"></div>
        </div>

        <button class="btn btn info center-block" ng-click="controller.prevStep()">prev</button>
        <button class="btn btn info center-block" ng-click="controller.nextStep()">Next</button>
        <button class="btn btn-danger center-block" ng-click="controller.reset()">Resetar</button>
    </div>

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Base -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- Factory -->
    <script type="text/javascript" src="js/factory/MagicNumber.js"></script>

    <!-- Service -->
    <script type="text/javascript" src="js/service/SolverService.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="js/controller/MainController.js"></script>
</body>