<!doctype html>
<html>

<head>
    <script type="text/javascript" src="atmosphere.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="MainService.js"></script>
    <script src="MainController.js"></script>
    <script src="SecController.js"></script>
    <!--<script src="test.js"></script>-->
    <meta charset="UTF-8">
    <style type='text/css'>
        div {
            border: 0px solid black;
        }
        
        input#phrase {
            width: 30em;
            background-color: #e0f0f0;
        }
        
        input#topic {
            width: 14em;
            background-color: #e0f0f0;
        }
        
        div.hidden {
            display: none;
        }
        
        span.from {
            font-weight: bold;
        }
        
        span.alert {
            font-style: italic;
        }
    </style>
</head>

<body ng-app="App">
    <h1>PubSub Sample using Atmosphere's Javascript Library and a <a href="https://github.com/Atmosphere/atmosphere-samples/blob/master/samples/jersey-pubsub/src/main/java/org/atmosphere/samples/pubsub/JerseyPubSub.java">Jersey's Resource</a></h1>
    <div ng-controller="MainController as controller">
        <h2>Selecione o canal a entrar:</h2>
        <div id='pubsub'>
            <input type='text' ng-model="canal" />
            <button ng-click="controller.subscrever(canal)">Inscrever</button>
        </div>
        <br/>
        <br/>
        <div>
            <h2>Insira sua mensagem:</h2>
            <input type="text" ng-model="mensagem" />
            <button ng-click="controller.enviar(mensagem)">Enviar!</button>
        </div>
        <br/>
        <div ng-repeat="msg in controller.msgs track by $index">
            <p ng-bind="msg"></p>
        </div>
    </div>
    <div ng-controller="SecController as controller">
        <h2>Selecione o canal a entrar:</h2>
        <div id='pubsub'>
            <input type='text' ng-model="canalDois" />
            <button ng-click="controller.subscrever(canalDois)">Inscrever</button>
        </div>
        <br/>
        <br/>
        <div>
            <h2>Insira sua mensagem:</h2>
            <input type="text" ng-model="mensagemDois" />
            <button ng-click="controller.enviar(mensagemDois)">Enviar!</button>
        </div>
        <br/>
        <div ng-repeat="msg in controller.msgs track by $index">
            <p ng-bind="msg"></p>
        </div>
    </div>
</body>
</html>